<main>

  <section id="section-banner">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="./assets/img/banner11.jpg" class="d-block w-100" alt="Computador Gamer">
              </div>
              <div class="carousel-item">
                  <img src="./assets/img/Teclado.jpg" class="d-block w-100" alt="Teclado">
              </div>
              <div class="carousel-item">
                  <img src="./assets/img/controle.jpg" class="d-block w-100" alt="Controle">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </section>

  <h3>DESTAQUE</h3>
  <mat-grid-list cols="3">
      <mat-grid-tile>
          <mat-card class="example-card">
              <img mat-card-image src="./assets/img/PC GAMER.PNG" alt="PC GAMER">
      
              <mat-card-header>
                <mat-card-title>PC GAMER - Completo</mat-card-title>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  Intel Core i5 6 Geração, 16GB RAM, SSD 120gb.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <p>R$ 2300,60</p>
                <button mat-button>Comprar</button>
              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
              <img mat-card-image src="./assets/img/CONTROLES.PNG" alt="CONTROLE">
      
              <mat-card-header>
                <mat-card-title>Controle para XBOX</mat-card-title>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  Controle sem fio XBOX - Stellar Shift.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <p>R$ 476,91</p>
                <button mat-button>Comprar</button>
              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
              <img mat-card-image src="./assets/img/JOGOS.PNG" alt="JOGO FIFA">
      
              <mat-card-header>
                <mat-card-title>FIFA 2023</mat-card-title>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  Jogo FIFA 23 para PlayStation 4.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <p>R$ 202,14</p>
                <button mat-button>Comprar</button>
              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    

     






</main>